<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const productStore = useProductStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await productStore.saveProduct();
  }
}
</script>
<template>
  <VDialog v-model="productStore.dialog" persistent width="1024">
    <VCard>
      <VCardTitle>
        <span class="text-h5">Product</span>
      </VCardTitle>
      <VCardText>
        <VForm ref="form">
          <VContainer>
            <VRow>
              <VCol cols="12">
                <VTextField
                  label="Name*"
                  required
                  v-model="productStore.editedProduct.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></VTextField>
              </VCol>
              <VCol cols="12">
                <VTextField
                  label="Price*"
                  required
                  v-model.number="productStore.editedProduct.price"
                  :rules="[(v) => !!v || 'Item is required']"
                ></VTextField>
              </VCol>
            </VRow>
          </VContainer>
        </VForm>
        <small>*indicates required field</small>
      </VCardText>
      <VCardActions>
        <VSpacer></VSpacer>
        <VBtn
          color="blue-darken-1"
          variant="text"
          @click="productStore.dialog = false"
        >
          Close
        </VBtn>
        <VBtn color="blue-darken-1" variant="text" @click="save()"> Save </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
</template>
