<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const userStore = useUserStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await userStore.saveUser();
  }
}
</script>
<template>
  <VDialog v-model="userStore.dialog" persistent width="1024">
    <VCard>
      <VCardTitle>
        <span class="text-h5">User</span>
      </VCardTitle>
      <VCardText>
        <VForm ref="form">
          <VContainer>
            <VRow>
              <VCol cols="12">
                <VTextField
                  label="Login*"
                  required
                  v-model="userStore.editedUser.login"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></VTextField>
              </VCol>
              <VCol cols="12">
                <VTextField
                  label="Name*"
                  required
                  v-model="userStore.editedUser.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></VTextField>
              </VCol>
              <VCol cols="12">
                <VTextField
                  label="Password*"
                  required
                  v-model.number="userStore.editedUser.password"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 8 || 'length must more than 8',
                    (v) =>
                      /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(
                        v
                      ) ||
                      'Password must contain uppercase and lowercase letters and contain special characters.',
                  ]"
                ></VTextField>
              </VCol>
            </VRow>
          </VContainer>
        </VForm>
        <small>*indicates required field</small>
      </VCardText>
      <VCardActions>
        <VSpacer></VSpacer>
        <VBtn
          color="blue-darken-1"
          variant="text"
          @click="userStore.dialog = false"
        >
          Close
        </VBtn>
        <VBtn color="blue-darken-1" variant="text" @click="save()"> Save </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
</template>
